{% assign menu_linklists = linklists[section.settings.menu].links %}

<header id="desktop-header" aria-label="Navegación principal">
  <img src="{{ 'tennis-ball.png' | asset_url }}" alt="Tennis ball logo">
  <nav class="nav-menu" aria-label="Menú principal">
    <ul>
      {% for link in menu_linklists %}
        <li>
          <a
            class="{% if link.active %}active-menu{% endif %}"
            href="{{ link.url }}"
          >
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <nav class="language-nav" aria-label="Selección de idioma">
    <ul>
      <li><a href="#" hreflang="es" lang="es">ES</a></li>
      <li><a href="#" hreflang="en" lang="en">EN</a></li>
    </ul>
  </nav>
</header>

<header id="header-sm" aria-label="Navegación principal">
  <div class="menu-toggle" aria-label="Abrir menú" aria-expanded="false">
    {% render 'icon-hamburger' %}
  </div>
  <div class="modal" id="mobile-menu">
    <nav class="nav-menu" aria-label="Menú principal">
      <ul>
        {% for link in menu_linklists %}
          <li>
            <a
              class="{% if link.active %}active-menu{% endif %}"
              href="{{ link.url }}"
            >
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <nav class="language-nav" aria-label="Selección de idioma">
      <ul>
        <li><a href="#" hreflang="es" lang="es">ES</a></li>
        <li><a href="#" hreflang="en" lang="en">EN</a></li>
      </ul>
    </nav>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "label": "Title",
        "info": "This is title for the mobile menu window",
        "id": "mobile_menu_title",
        "default": "Menu"
      },
      {
        "type": "link_list",
        "label": "Header Menu",
        "info": "Select the menu that want to display in the page",
        "id": "menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}